
<div class="container content">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form card login with validation feedback-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <form action="">
            <div class="mb-3">
              <label for="nombre">Nombre: </label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre..." #nombre>
            </div>
            <div class="mb-3">
              <label for="imagenUrl">Imagen Url</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar Url..." #url>
            </div>
            <div class="">
              <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>
  <hr class="mb-5">
  <div class="row row-flex">
    <app-destino-viaje *ngFor = "let d of destinos" [destino]="d"></app-destino-viaje>
  </div>

</div>

