
      <div class="card card-content">
          <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">

            <span><h4>{{destino.nombre}}</h4></span>
          </div>
          <div class="card-body card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore consectetur iusto pariatur similique incidunt. Dolor, officia quasi. Sint provident officia id laborum pariatur doloremque modi, blanditiis dolor accusantium culpa!</p>
            <a href="#"class="btn btn-card">Read</a>
          </div>
      </div>
